@model SocialAlliance.Models.YouTube.Playlist

    <h4><a href="@Model.Link">@Html.DisplayFor(m => m.Title) </a></h4>
    <p>
        Updated
        @if (Model.Updated.HasValue)
        {
            @Html.DisplayFor(m => m.Updated) @:, contains @Html.DisplayFor(m => m.EntriesCount) videos.
        }
        else
        {
            @* Valid for 'most recent' playlist. *@
            @: just recently
        }
    </p>
