@{
    ViewBag.Title = "Social Dashboard";
}

<div class="jumbotron">
    <h1>Social Dashboard</h1>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Test YouTube", "Index", "YouTube", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-2">
        @Html.ActionLink("Test Twitter", "Index", "Twitter", null, new { @class = "btn btn-default" })
    </div>
</div>