@model IEnumerable<SocialAlliance.Models.WebConfig.TimelineConfig>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Timelines Configuration</h2>

@Html.Partial("_MessagePartial")

@Html.Partial("_TimelinesListPartial", Model)

@section Scripts{
    @Scripts.Render("~/bundles/jquery-ajax")
}