@model SocialAlliance.Models.WebConfig.CredentialsConfig
@using SocialAlliance.Models;

@using (Html.BeginForm("Add", "Credentials", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <tr>
        <td>
            @{var credentialOptions = new List<SelectListItem>();}

            @foreach (var account in Enum.GetNames(typeof(AccountType)))
            {
                if (!((List<string>) ViewBag.Credentials).Any(c => c == account))
                {
                    credentialOptions.Add(new SelectListItem { Text = account, Value = account });
                }
            }
            @Html.DropDownListFor(m => m.AccountType, credentialOptions)
        </td>
        <td>
            @Html.EditorFor(m => m.ConsumerKey)
        </td>
        <td>
            @Html.EditorFor(m => m.ConsumerSecret)
        </td>
        <td>
            <input type="submit" value="Add" class="btn btn-default" />
        </td>
    </tr>
}