@model IEnumerable<SocialAlliance.Models.WebConfig.CredentialsConfig>

@{
    ViewBag.Title = "Credentials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Credentials</h2>

@Html.Partial("_MessagePartial")

@Html.Partial("_CredentialsListPartial", Model)

@section Scripts{
    @Scripts.Render("~/bundles/jquery-ajax")
}