@model SocialAlliance.Models.TwitterTimelineViewModel
@{
    ViewBag.Title = "Twitter Tweets Dashboard";
}

@Html.Partial("_MessagePartial")

@if (Model != null)
{
    @*----------------------------------------------------------- USER INFO -----------------------------------------------------------*@
    <div class="row">
        <div class="col-md-10">
            @Html.Partial("_TwitterUserPartial", Model.User)
        </div>
        <div class="col-md-1">
            @Html.ActionLink("Refresh Timeline", "Index", "Twitter", null, new { @class = "btn btn-default" })
        </div>
    </div>

    @*----------------------------------------------------------- TIMELINE -----------------------------------------------------------*@
    <hr />
    <div class="row">
            <div class="col-md-6">

                @* Tweet List *@

                @if (Model.Tweets != null)
                {
                    @Html.Partial("_TwitterTweetListPartial", Model.Tweets)
                }
            </div>
    </div>

}