<?xml version="1.0" encoding="utf-8" ?>
<authorization>
    <add accountType="twitter" consumerKey="CUb3sO8IPne6a9GPiODrew"
        consumerSecret="exsSve7RelWY5RuTq7r26JKb6TkABDEnpMTmP8Fzyw" />
    <add accountType="facebook" consumerKey="1396701877240193" consumerSecret="8bdef7bdb3220505307eaad74f68a1a9" />
</authorization>